p {
    font-size: 9px;
    font-weight: bold;
    text {
        background: white;
        padding: 5px;
    }
    margin: 9px;
}

model-viewer {
    width: 100%;
    height: 100%;
}

#model-viewer-div { 
    width: 100%; 
    height: 100%; 
    box-sizing: border-box;
} 

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));
}

.grid-container-single {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr;
}

.expand-button {
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 20px;
    height: 20px;
    padding: 2px;
}